<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo plugin to load ros2_control -->
  <gazebo>
    <plugin filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find mgc_bringup)/config/ros2_control.yaml</parameters>
      <ros>
        <remapping>~/robot_description:=/robot_description</remapping>
      </ros>
    </plugin>
  </gazebo>

  <ros2_control name="mecanum_gimbal_car" type="system">

    <!-- ros2_control hardware interface block -->
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- For Mobile Base -->
    <joint name="chassis_TO_front_left_wheel">
      <command_interface name="velocity" />
      <state_interface name="position"   />
      <state_interface name="velocity"   />
    </joint>

    <joint name="chassis_TO_front_right_wheel">
      <command_interface name="velocity" />
      <state_interface name="position"   />
      <state_interface name="velocity"   />
    </joint>

    <joint name="chassis_TO_rear_left_wheel">
      <command_interface name="velocity" />
      <state_interface name="position"   />
      <state_interface name="velocity"   />
    </joint>

    <joint name="chassis_TO_rear_right_wheel">
      <command_interface name="velocity" />
      <state_interface name="position"   />
      <state_interface name="velocity"   />
    </joint>

    <!-- For Gimbal -->
    <joint name="gimbal_base_TO_gimbal_yaw_link">
      <command_interface name="position">
        <param name="min">${-pi}</param>
        <param name="max">${pi}</param>
      </command_interface>
      <state_interface name="position"   />
      <state_interface name="velocity"   />
    </joint>

    <joint name="gimbal_yaw_link_TO_gimbal_pitch_link">
      <command_interface name="position">
        <param name="min">${-pi/2.0}</param>
        <param name="max">${pi/2.0}</param>
      </command_interface>
      <state_interface name="position"   />
      <state_interface name="velocity"   />
    </joint>

  </ros2_control>

</robot>